section {
    background: #7BBA9A
}

header {
    background: #3c9166
}

.home {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-90deg) translate(-9px, 6px);
    transform: rotate(-90deg) translate(-9px, 6px);
}

.change .bar2 {-webkit-transform: rotate(-90deg) translate(2px, -1px);
    transform: rotate(-90deg) translate(2px, -5px);
}

.change .bar3 {
    -webkit-transform: rotate(-90deg) translate(13px, -15px);
    transform: rotate(-90deg) translate(13px, -15px);
}


