body {
    margin: 0px;
}

header {
    background-color: #3c9166;
    padding: 20px;
}

h1 {
    margin: 0px;
    text-align: center;
    font-size: 2.25em;
}

.container {
    background-color: #7BBA9A;
    padding: 30px;
}

h2 {
    margin: 0px 0px 30px 0px;
    text-align: center;
    font-size: 28px;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.1em;
    margin: 5px 0px;
}

.staandImg {
    float: right;
    margin-left: 7px;
    width: 20%;
}

.liggendImg {
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

section {
    margin-bottom: 6em;
}

section p {
    width: 100%;
    margin: 0px;
}

.makers {
    margin-top: 40px;
    margin-bottom: 150px;
}

article {
    margin-bottom: 4em;
}

@media screen and (max-width: 700px) {
    .staandImg, .liggendImg {
        width: 100%;
        margin: 15px 0px;
    }
}


/* form */
input[type=text], input[type=email] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 6px;
    margin: 0px 0px 15px 0px;
}

fieldset {
    padding: 20px;
}

input[type=button] {
    margin-top: 15px;
}

input[type=submit] {
    padding: 6px 2px;
    display: block;
    margin-top: 10px;
}

/* Table */
table, th, td {
    border: 1px solid black;
    /* border-radius: 4px; */
    border-collapse: collapse;
}

th, td {
    padding: 4px 8px;
}

th {
    background-color: #52b452;
}

/* Menu  */
.knop {
    background-color: #3c9166;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #7BBA9A;
}

.dropdown-content2 a:hover {background-color: #f1f1f1}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2:hover .dropbtn2 {
    background-color: #7BBA9A;
