body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #3c9166;
    /*margin: 0px;*/
    margin-bottom: 0px;
    padding: 20px;
}

h1 {
    margin: 0px;
    text-align: center;
    font-size: 2.25em;
}

.container {
    background-color: #7BBA9A;
    margin-top: 0px;
    padding: 30px;
    overflow-y: auto;
    float: left;
}

h2 {
    margin: auto;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 28px;
}

h3 {
    width: 100%;
    font-size: 1.4em;
}

h4 {
    font-size: 1.1em;
    margin: 5px 0px;
}

.staandImg {
    float: right;
    margin-left: 7px;
    width: 20%;
}

.liggendImg {
    width: 30%;
    display: block;
    margin: auto;
}


section {
    margin-bottom: 6em;
}

section p {
    /* margin: 10px;
    margin-left: 0px;
    margin-bottom: 50px; */
    /* float: left; */
    width: 100%;
    margin: 0px;
}

.makers {
    margin-bottom: 150px;
}

article {
    margin-bottom: 4em;
}

@media screen and (max-width: 800px) {
    .staandImg {
        width: 30%;
        /* height: 500px; */
    }

    .liggendImg {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .staandImg {
        width: 100%;
        margin: 10px 0px;
        /* height: 500px; */
    }
}



